.menu-food {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 30px;
}

.menu-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
}

.icon-burgers {
    background-image: url(./images/icon-burgers.svg);
}

.icon-snacks {
    background-image: url(./images/icon-snacks.svg);
}

.icon-hot-dog {
    background-image: url(./images/icon-hot-dog.svg);
}

.icon-combo {
    background-image: url(./images/icon-combo.svg);
}

.icon-shaurma {
    background-image: url(./images/icon-shaurma.svg);
}

.icon-pizza {
    background-image: url(./images/icon-pizza.svg);
}

.icon-wok {
    background-image: url(./images/icon-wok.svg);
}

.icon-desserts {
    background-image: url(./images/icon-desserts.svg);
}

.icon-sauces {
    background-image: url(./images/icon-sauces.svg);
}

.btn-menu-food {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 121px;
    height: 30px;
    padding: 0 8px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    border: 2px solid transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.37px;
    color: rgba(0, 0, 0, 1);
    transition: transform 0.3s, border-color 0.3s;
}

.btn-menu-food:hover {
    border-color: rgba(248, 99, 16, 1);
}


.btn-menu-food.active {
    background-color: rgba(255, 171, 8, 1);
}

.btn-menu-food:first-child {
    margin-left: 10px;
}

.btn-menu-food:last-child {
    margin-right: 10px;
}

@media (min-width:1024px) {
    .btn-menu-food {
        font-size: 16px;
        font-weight: 400;
        line-height: 21.82px;
        padding: 0px 14px;
    }
}